<html>
  <head>
  </head>
  <body>
    <h1>Sinatra CMS</h1>
    <p>
      <ul>
        <% pages.each do |page| %>
          <li><%= page.slug %></li>
          <li><%= page.content %></li>
        <% end %>
    </ul>
    </p>
  </body>
</html>
