<html>
  <head>
  </head>
  <body>
    <h1>Sinatra CMS</h1>
    <p>
      <ul>
        <% pages.each do |page| %>
          <li><a href='/pages/<%= page.slug %>'>Page slug: <%= page.slug %></a></li>
          <p><%= page.content %></p>
        <% end %>
    </ul>
    </p>
  </body>
</html>
